*,
*::before,
*::after {
    box-sizing: border-box;
}

.profilePic {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
    /* Ensure the image covers the space without distortion */
}

.leftButtons {
    justify-content: flex-start;
    width: 70px;
    height: 90%;
    border-radius: 10px;
    background-color: antiquewhite;
}

.profilePicture {
    justify-content: flex-end;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.profilePicture img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.sidebarButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    color: white;
    background-color: #666;
    border: none;
    text-align: left;
}

.sidebarButton:hover {
    background-color: #555;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}