.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 0;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContent li {
    list-style: none;
}

.dropdownContent button {
    padding: 12px 16px;
    width: 100%;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdownContent button:hover {
    background-color: #e0e0e0;
    border-radius: 10px;
}