.header1 {background-color: blue; color: white;}
.sidebar1 {position: relative; z-index: 3; background-color: gray;}
.horizentalLayout1 {background-color: green; width: 100%;}
.card1 {margin-left: 70px;}
.card2 {margin-left: 70px;}
.card3 {margin-left: 70px;}
.imagebutton1 {border: 1px solid black;}
.dropdown1 {}
.form1 {}
.horizentalLayoutLogin {width: 300px; margin: auto;}
.button6 {background-color: red; margin-left: 40px;}
.button7 {background-color: red; margin-left: 150px;}
.form2 {}
.horizentalLayoutSignup {width: 300px; margin: auto;}
.button8 {background-color: red; margin-left: 40px;}
.button9 {background-color: red; margin-left: 150px;}
