.header1 {background-color: blue; color: white;}
.sidebar1 {position: relative; z-index: 3; background-color: gray;}
.section1 {display: flex; flex-direction: row; justify-content: space-between; align-items: center; position: absolute; top: 50%; background-color: green; width: 100%;}
.card1 {}
.card2 {}
.card3 {}
.imagebutton1 {border: 1px solid black;}
.dropdown1 {}
.header2 {background-color: coral; color: navy;}
.sidebar2 {position: relative; z-index: 3; background-color: gray;}
.section2 {background-color: cornflowerblue;}
.text1 {background-color: transparent; color: navy;}
.button2 {background-color: red;}
.imagebutton2 {border: 2px solid darkblue;}
.button4 {border: 2px solid darkblue;}
.form1 {}
.sectionLogin {display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 300px; margin: auto;}
.button6 {background-color: red;}
.button7 {background-color: red;}
.form2 {}
.sectionSignup {display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 300px; margin: auto;}
.button8 {background-color: red;}
.button9 {background-color: red;}
